body {
    background-image: url("../img/site.jpg");
    background-size: cover;
    background-color: #cccccc;
}
canvas {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tutorial {
    position: absolute;
    color: greenyellow;
    margin: 8%;
    z-index: 1001;
}